<div class="row">
  <div class="col-md-12 new-meal"> 
      <%= form_for @meal, :url => {:action => 'create'}, :html => { :multipart => true } do |f| %>
        <%= f.label :name %></br>
        <%= f.text_field :name %></br>

        <%= f.label :price %></br>
        <%= f.text_field :price %></br>

        <%= f.label :recipe %></br>
        <%= f.text_area :recipe %></br>

        <%= f.fields_for :meal_photos do |builder| %>
          <%= builder.file_field :photo %>
        <% end %>

        <p>
          <%= f.submit "Create", :class =>"btn"  %>
        </p>
      <% end %>
    </div>
  </div>
</div>
