<aside class="sidebar" role="navigation">
	<nav>
    <ul>
        <% if current_page? root_path %>
          <li><%= link_to "Sign up", new_member_registration_path %> </li>
          <li><%= link_to "About", about_path  %></li>
        <% else %> 
          <li><%= link_to "Home", root_path %></li>
          <% if !member_signed_in? %>
            <li><%= link_to "Sign up", new_member_registration_path %> </li>
          <% else %>
            <li><%= link_to "My Profile", show_profile_path(current_member) %></li>
            <li><%= link_to "New Meal", new_meal_path %></li>
          <% end %>
          <li><%= link_to "About", about_path  %></li>
        <% end %>
    </ul>
	</nav>
  <hr class="divider"/>
  <% if member_signed_in? %>
    <%= link_to "Logout", destroy_member_session_path,
                      :method => :delete, :class => "btn-login" %>
  <% else %>
    <%= link_to "Login", member_session_path,:class => "btn-login"  %>
  <% end %>
  <div class="perl"><div>Server Time</div><%= @perltime%></div>
</aside>
<div id="sidebar-overlay" class="sidebar-overlay hidden"></div>
